USE [master]
GO
/****** Object:  Database [Projekat]    Script Date: 07-Dec-23 17:12:24 ******/
CREATE DATABASE [Projekat]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Projekat', FILENAME = N'C:\Users\Filip\Projekat.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Projekat_log', FILENAME = N'C:\Users\Filip\Projekat_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Projekat].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Projekat]
GO
USE [Projekat]
GO
/****** Object:  Table [dbo].[Administrator]    Script Date: 07-Dec-23 17:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Administrator](
	[AdministratorId] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [varchar](50) NOT NULL,
	[Prezime] [varchar](50) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Administrator] PRIMARY KEY CLUSTERED 
(
	[AdministratorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dvorana]    Script Date: 07-Dec-23 17:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dvorana](
	[DvoranaId] [int] IDENTITY(1,1) NOT NULL,
	[ImeDvorane] [varchar](50) NOT NULL,
	[DrzavaDvorane] [varchar](50) NOT NULL,
	[Kapacitet] [int] NOT NULL,
 CONSTRAINT [PK_Dvorana] PRIMARY KEY CLUSTERED 
(
	[DvoranaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Igrac]    Script Date: 07-Dec-23 17:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Igrac](
	[IgracId] [int] IDENTITY(1,1) NOT NULL,
	[ImeIgraca] [varchar](50) NOT NULL,
	[PrezimeIgraca] [varchar](50) NOT NULL,
	[DrzavaIgraca] [varchar](50) NOT NULL,
	[DatumRodjenja] [date] NOT NULL,
	[Pozicija] [int] NOT NULL,
	[BrojNaDresu] [int] NOT NULL,
	[Visina] [int] NOT NULL,
	[Tezina] [float] NOT NULL,
	[TimId] [int] NOT NULL,
 CONSTRAINT [PK_Igrac] PRIMARY KEY CLUSTERED 
(
	[IgracId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statistika]    Script Date: 07-Dec-23 17:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statistika](
	[TakmicenjeId] [int] NOT NULL,
	[UtakmicaId] [int] NOT NULL,
	[IgracId] [int] NOT NULL,
	[Poeni] [int] NOT NULL,
	[Skokovi] [int] NOT NULL,
	[Asistencije] [int] NOT NULL,
 CONSTRAINT [PK_Statistika_1] PRIMARY KEY CLUSTERED 
(
	[TakmicenjeId] ASC,
	[UtakmicaId] ASC,
	[IgracId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Takmicenje]    Script Date: 07-Dec-23 17:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Takmicenje](
	[TakmicenjeId] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [varchar](50) NOT NULL,
	[BrojKola] [int] NOT NULL,
 CONSTRAINT [PK_Takmicenje] PRIMARY KEY CLUSTERED 
(
	[TakmicenjeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tim]    Script Date: 07-Dec-23 17:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tim](
	[TimId] [int] IDENTITY(1,1) NOT NULL,
	[ImeTima] [varchar](50) NOT NULL,
	[DrzavaTima] [varchar](50) NOT NULL,
	[BrojPobeda] [int] NOT NULL,
	[BrojPoraza] [int] NOT NULL,
	[Bodovi] [int] NOT NULL,
	[KosRazlika] [int] NOT NULL,
	[DvoranaId] [int] NOT NULL,
 CONSTRAINT [PK_Tim] PRIMARY KEY CLUSTERED 
(
	[TimId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Utakmica]    Script Date: 07-Dec-23 17:12:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Utakmica](
	[TakmicenjeId] [int] NOT NULL,
	[UtakmicaId] [int] NOT NULL,
	[BrojPoenaDomacin] [int] NOT NULL,
	[BrojPoenaGost] [int] NOT NULL,
	[DatumOdigravanja] [datetime] NOT NULL,
	[BrojGledalaca] [int] NOT NULL,
	[Runda] [int] NOT NULL,
	[FazaTakmicenja] [varchar](50) NOT NULL,
	[DomacinId] [int] NOT NULL,
	[GostId] [int] NOT NULL,
 CONSTRAINT [PK_Utakmica_1] PRIMARY KEY CLUSTERED 
(
	[TakmicenjeId] ASC,
	[UtakmicaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Administrator] ON 

INSERT [dbo].[Administrator] ([AdministratorId], [Ime], [Prezime], [Username], [Password]) VALUES (1, N'Filip', N'Jovanovic', N'fico', N'fico')
INSERT [dbo].[Administrator] ([AdministratorId], [Ime], [Prezime], [Username], [Password]) VALUES (2, N'Aleksandar', N'Jolic', N'jola', N'jola')
INSERT [dbo].[Administrator] ([AdministratorId], [Ime], [Prezime], [Username], [Password]) VALUES (3, N'Vladimir', N'Jovanovic', N'devla', N'devla')
SET IDENTITY_INSERT [dbo].[Administrator] OFF
GO
SET IDENTITY_INSERT [dbo].[Dvorana] ON 

INSERT [dbo].[Dvorana] ([DvoranaId], [ImeDvorane], [DrzavaDvorane], [Kapacitet]) VALUES (1, N'Mercedes-Benz Arena', N'Nemacka', 14500)
INSERT [dbo].[Dvorana] ([DvoranaId], [ImeDvorane], [DrzavaDvorane], [Kapacitet]) VALUES (2, N'Sinan Erdem', N'Turska', 16000)
INSERT [dbo].[Dvorana] ([DvoranaId], [ImeDvorane], [DrzavaDvorane], [Kapacitet]) VALUES (3, N'Gaston Medecin', N'Monako', 4700)
SET IDENTITY_INSERT [dbo].[Dvorana] OFF
GO
SET IDENTITY_INSERT [dbo].[Igrac] ON 

INSERT [dbo].[Igrac] ([IgracId], [ImeIgraca], [PrezimeIgraca], [DrzavaIgraca], [DatumRodjenja], [Pozicija], [BrojNaDresu], [Visina], [Tezina], [TimId]) VALUES (1, N'Jaleen', N'Smith', N'SAD', CAST(N'1994-11-24' AS Date), 1, 3, 190, 93, 1)
INSERT [dbo].[Igrac] ([IgracId], [ImeIgraca], [PrezimeIgraca], [DrzavaIgraca], [DatumRodjenja], [Pozicija], [BrojNaDresu], [Visina], [Tezina], [TimId]) VALUES (1001, N'Maodo', N'Lo', N'Nemacka', CAST(N'1996-07-08' AS Date), 2, 7, 191, 83, 1)
INSERT [dbo].[Igrac] ([IgracId], [ImeIgraca], [PrezimeIgraca], [DrzavaIgraca], [DatumRodjenja], [Pozicija], [BrojNaDresu], [Visina], [Tezina], [TimId]) VALUES (1002, N'Louis', N'Olinde', N'Nemacka', CAST(N'1998-03-19' AS Date), 3, 19, 205, 87, 1)
SET IDENTITY_INSERT [dbo].[Igrac] OFF
GO
INSERT [dbo].[Statistika] ([TakmicenjeId], [UtakmicaId], [IgracId], [Poeni], [Skokovi], [Asistencije]) VALUES (2, 1, 1, 9, 0, 2)
INSERT [dbo].[Statistika] ([TakmicenjeId], [UtakmicaId], [IgracId], [Poeni], [Skokovi], [Asistencije]) VALUES (2, 1, 1001, 11, 3, 6)
INSERT [dbo].[Statistika] ([TakmicenjeId], [UtakmicaId], [IgracId], [Poeni], [Skokovi], [Asistencije]) VALUES (2, 1, 1002, 11, 10, 4)
GO
SET IDENTITY_INSERT [dbo].[Takmicenje] ON 

INSERT [dbo].[Takmicenje] ([TakmicenjeId], [Naziv], [BrojKola]) VALUES (2, N'Evroliga', 34)
SET IDENTITY_INSERT [dbo].[Takmicenje] OFF
GO
SET IDENTITY_INSERT [dbo].[Tim] ON 

INSERT [dbo].[Tim] ([TimId], [ImeTima], [DrzavaTima], [BrojPobeda], [BrojPoraza], [Bodovi], [KosRazlika], [DvoranaId]) VALUES (1, N'Alba Berlin', N'Nemacka', 11, 23, 45, -147, 1)
INSERT [dbo].[Tim] ([TimId], [ImeTima], [DrzavaTima], [BrojPobeda], [BrojPoraza], [Bodovi], [KosRazlika], [DvoranaId]) VALUES (2, N'Anadolu Efes', N'Turska', 17, 17, 51, 64, 2)
INSERT [dbo].[Tim] ([TimId], [ImeTima], [DrzavaTima], [BrojPobeda], [BrojPoraza], [Bodovi], [KosRazlika], [DvoranaId]) VALUES (3, N'Monako', N'Francuska', 21, 13, 55, 53, 3)
SET IDENTITY_INSERT [dbo].[Tim] OFF
GO
INSERT [dbo].[Utakmica] ([TakmicenjeId], [UtakmicaId], [BrojPoenaDomacin], [BrojPoenaGost], [DatumOdigravanja], [BrojGledalaca], [Runda], [FazaTakmicenja], [DomacinId], [GostId]) VALUES (2, 1, 100, 84, CAST(N'2022-10-07T20:00:00.000' AS DateTime), 10984, 1, N'regularni deo', 1, 14)
INSERT [dbo].[Utakmica] ([TakmicenjeId], [UtakmicaId], [BrojPoenaDomacin], [BrojPoenaGost], [DatumOdigravanja], [BrojGledalaca], [Runda], [FazaTakmicenja], [DomacinId], [GostId]) VALUES (2, 2, 74, 80, CAST(N'2022-10-14T20:30:00.000' AS DateTime), 7784, 2, N'regularni deo', 6, 1)
INSERT [dbo].[Utakmica] ([TakmicenjeId], [UtakmicaId], [BrojPoenaDomacin], [BrojPoenaGost], [DatumOdigravanja], [BrojGledalaca], [Runda], [FazaTakmicenja], [DomacinId], [GostId]) VALUES (2, 3, 94, 65, CAST(N'2022-10-19T20:00:07.000' AS DateTime), 8271, 3, N'regularni deo', 1, 13)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [Unique_Username]    Script Date: 07-Dec-23 17:12:24 ******/
ALTER TABLE [dbo].[Administrator] ADD  CONSTRAINT [Unique_Username] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Igrac]  WITH CHECK ADD  CONSTRAINT [FK_Igrac_Tim] FOREIGN KEY([TimId])
REFERENCES [dbo].[Tim] ([TimId])
GO
ALTER TABLE [dbo].[Igrac] CHECK CONSTRAINT [FK_Igrac_Tim]
GO
ALTER TABLE [dbo].[Statistika]  WITH CHECK ADD  CONSTRAINT [FK_Statistika_Igrac] FOREIGN KEY([IgracId])
REFERENCES [dbo].[Igrac] ([IgracId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Statistika] CHECK CONSTRAINT [FK_Statistika_Igrac]
GO
ALTER TABLE [dbo].[Statistika]  WITH CHECK ADD  CONSTRAINT [FK_Statistika_Utakmica] FOREIGN KEY([TakmicenjeId], [UtakmicaId])
REFERENCES [dbo].[Utakmica] ([TakmicenjeId], [UtakmicaId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Statistika] CHECK CONSTRAINT [FK_Statistika_Utakmica]
GO
ALTER TABLE [dbo].[Tim]  WITH CHECK ADD  CONSTRAINT [FK_Tim_Dvorana] FOREIGN KEY([DvoranaId])
REFERENCES [dbo].[Dvorana] ([DvoranaId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tim] CHECK CONSTRAINT [FK_Tim_Dvorana]
GO
ALTER TABLE [dbo].[Utakmica]  WITH CHECK ADD  CONSTRAINT [FK_Utakmica_Takmicenje] FOREIGN KEY([TakmicenjeId])
REFERENCES [dbo].[Takmicenje] ([TakmicenjeId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Utakmica] CHECK CONSTRAINT [FK_Utakmica_Takmicenje]
GO
ALTER TABLE [dbo].[Utakmica]  WITH CHECK ADD  CONSTRAINT [FK_Utakmica_Tim] FOREIGN KEY([DomacinId])
REFERENCES [dbo].[Tim] ([TimId])
GO
ALTER TABLE [dbo].[Utakmica] CHECK CONSTRAINT [FK_Utakmica_Tim]
GO
ALTER TABLE [dbo].[Utakmica]  WITH CHECK ADD  CONSTRAINT [FK_Utakmica_Tim1] FOREIGN KEY([GostId])
REFERENCES [dbo].[Tim] ([TimId])
GO
ALTER TABLE [dbo].[Utakmica] CHECK CONSTRAINT [FK_Utakmica_Tim1]
GO
USE [master]
GO
